/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #d5e9f6;
    margin: 0;
    padding: 0;
    text-align: center;
}

header img {
    width: 350px; /* Increase from 200px */
    height: auto; /* Maintain aspect ratio */
}

header {
    padding: 20px;
    background-color: #d5e9f6;
    color: white;
    font-size: 24px;
}

.instruction-text {
    font-size: 20px; /* Bigger text */
    font-weight: bold; /* Make it stand out */
    color: #333;
    margin-top: 30px;
}

h2 {
    color: #333;
    margin-top: -10px; 
}

/* Form Styling */
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

select, input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Upload Button Styling */
button {
    background-color: #4A749D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #365C7D;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #6B8EAD;
    color: white;
}

button {
    background-color: #FCD0A1;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-top: 15px;
transition: background-color 0.3s;
}
